name: Draft Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to deploy'
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./build

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Generate Anki Deck
        run: python genapkg.py "Lapis-${{ github.event.inputs.version }}.apkg"

      - name: Create Draft Release
        id: create_release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.event.inputs.version }}
          name: "Lapis ${{ github.event.inputs.version }}"
          files: "build/Lapis-${{ github.event.inputs.version }}.apkg"
          draft: true 
          body: |
            ## How to update Lapis
            1. Backup your custom settings from the note's styling
            2. Updating the template:
            2a. Import the apkg inside Anki with the following options: <img src="https://github.com/${{ github.repository }}/blob/main/assets/import_options.png" alt="import options">
            2b. Alternatively, you can manually update your Lapis card by selecting a card, clicking Cards..., and copying the contents of front.html, back.html, and styling.css accordingly. Then, click Save to apply the changes.
            3. Copy your settings back in the note's styling
